{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-runtime"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
